name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  IMAGE_NAME: eohana98/actions-intro

jobs:

  build-image:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v3

    - name: Create tag
      id: new_tag
      run: echo "TAG=$(date +%Y.%m.%d_%H.%M.%S)" >> "$GITHUB_OUTPUT"

    - name: Build Image
      env:
        TAG: ${{ steps.new_tag.outputs.TAG }}
      run: |
        docker build . --file Dockerfile \
          --tag $IMAGE_NAME:latest \
          --tag $IMAGE_NAME:$TAG \
          --build-arg DOCKER_TAG=$TAG

    - name: Test
      run: docker run --entrypoint pytest $IMAGE_NAME:latest

    - name: Docker login
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN}}

    - name: Docker push
      env:
        TAG: ${{ steps.new_tag.outputs.TAG }}
      run: |
        docker push $IMAGE_NAME:$TAG
        docker push $IMAGE_NAME:latest


  uv-example:
    name: UV Example
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"] # Define the Python versions to test against

    steps:
      - uses: actions/checkout@v5

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.15"

      - name: "Run Tests"
        run: uv run pytest